name: Pull Request Check
on:
  pull_request:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    runs-on: ubuntu-latest
    name: Lint
    steps:
      - uses: actions/checkout@v4
      - name: Setup Java for Gradle
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
      - name: Run Lint
        shell: bash
        run: ./gradlew ktlintCheck
  validate-binary-compatibility:
    name: Validate Binary Compatibility
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Java for Gradle
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
      - name: Validate Binary Compatibility
        shell: bash
        run: ./gradlew apiCheck
  test:
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: Jvm
            test_task: jvmTest
            os: ubuntu-latest
            kotest_tags: '!PBT'
          - name: JS
            test_task: jsBrowserTest
            os: ubuntu-latest
            kotest_tags: ''
          - name: Wasm JS
            test_task: wasmJsBrowserTest
            os: ubuntu-latest
            kotest_tags: ''
          - name: Android Debug
            test_task: testDebugUnitTest # compose ui test on local android is not supported yet
            os: ubuntu-latest
            kotest_tags: ''
          - name: Android Release
            test_task: testReleaseUnitTest
            os: ubuntu-latest
            kotest_tags: ''
          - name: iOS
            test_task: iosSimulatorArm64Test
            os: macos-latest
            kotest_tags: ''
    runs-on: ${{ matrix.os }}
    name: Test ${{ matrix.name }}
    steps:
      - uses: actions/checkout@v4
      - name: Setup Java for Gradle
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
      - name: Test Library
        shell: bash
        run: ./gradlew ${{ matrix.test_task }} ${{ matrix.kotest_tags && format('-Dkotest.tags="{0}"', matrix.kotest_tags) || '' }}
      - name: Test Integration Test
        shell: bash
        run: cd ./integrationTest && ./gradlew ${{ matrix.test_task }} ${{ matrix.kotest_tags && format('-Dkotest.tags="{0}"', matrix.kotest_tags) || '' }}
  publish-to-maven-local:
    name: Publish to Maven Local
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Java for Gradle
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
      - name: Publish to Maven Local
        shell: bash
        run: ./gradlew publishToMavenLocal
